.section-5 {
  padding: 98px 0;
  background: #e9edef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-5-header {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #4e4e4e;
}
.section-5-header::before {
  display: block;
  width: 90px;
  content: "";
  position: absolute;
  border-bottom: 1px solid #18cfab;
  top: 58px;
  left: 116px;
}
.section-5-header::after {
  display: block;
  width: 90px;
  content: "";
  position: absolute;
  border-bottom: 1px solid #18cfab;
  top: 63px;
  left: 148px;
}

.section-5-tabs {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr 2fr 2.5fr 2fr;
  margin-top: 90px;

  border: 1px solid #dadada;
}
.tabs-section-5 {
  padding: 0 10px;
  background-color: #f8fcfe;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*  */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 39px;
  color: #717171;
  border: 1px solid #dadada;
}

.tabs-section-5.active {
  border: 1px solid #18cfab;
  color: #18cfab;
  cursor: pointer;
}
.tabs-section-5 {
  cursor: pointer;
}
.grid-section-5 {
  max-width: 1160px;
  margin: 0 380px;
  margin-top: 69px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  overflow: hidden;
}

.image-section-5 {
  width: 290px;
  height: 206px;
}

.section-5-button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin-top: 70px;
  border: none;
  border-radius: 5px;
  width: 168px;
  height: 63px;
  background: #18cfab;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.section-5-button:hover {
  cursor: pointer;
}
