.section-6 {
  height: 958px;
  margin-top: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-6-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #4e4e4e;
  position: relative;
}
.section-6-header::before {
  display: block;
  width: 100px;
  content: "";
  position: absolute;
  border-bottom: 1px solid #18cfab;
  top: 55px;
  left: 81px;
}
.section-6-header::after {
  display: block;
  width: 100px;
  content: "";
  position: absolute;
  border-bottom: 1px solid #18cfab;
  top: 60px;
  left: 113px;
}

.grid-6-section {
  max-width: 1160px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 33px;
  row-gap: 44px;
  margin-top: 100px;
}

.grid-item-6-section {
  position: relative;
}
.grid-item-6-section:hover {
  cursor: pointer;
}
.grid-item-6-section:hover .feb-12 {
  background: #18cfab;
  transition: 400ms;
}

.grid-item-6-section:hover .item-text-6-section {
  color: #18cfab;
  transition: 400ms;
}
.grid-item-6-section p {
  padding-left: 15px;
}
.feb-12 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  position: absolute;
  width: 66px;
  height: 64px;
  background: #203e38;
  color: #fff;
  right: 2px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-text-6-section {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 39px;
  color: #717171;
}

.item-comment-6-section {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 39px;
  color: #777777;
}
