.section-1 {
  height: 1012px;
  padding-left: 380px;
  padding-right: 380px;
  background: url("../img/section-1-wall.jpg");
  background-attachment: fixed;
  /* */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 35px;
  position: relative;
}

.h1 {
  font-size: 78px;
  margin-top: 22px;
}

.h3 {
  font-weight: 400;
  font-size: 34px;
  color: #d4d4d4;
  text-transform: none;
  margin-top: 22px;
}

.buttons-1-container {
  margin-top: 122px;
}

.section-1-buttons {
  border: none;
  border-radius: 5px;
  width: 168px;
  height: 63px;
  background: #18cfab;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: 0px -5px 0px 0px #ffffff;
}

.section-1-buttons:hover {
  cursor: pointer;
}

.button2 {
  background: #00cbf6;
}

.section-2 {
  max-width: 1920px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
