body,
html {
  height: 100%;
  margin: 0px auto;
  max-width: 1920px;
}

a {
  text-decoration: none;
}

.navigation {
  color: white;
  position: fixed;
  max-width: 1920px;
  top: 0;
  padding-right: 380px;
  padding-left: 380px;
  height: 120px;
  background: rgba(94, 93, 88, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav-list {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding-right: 21px;
}

.nav-item a {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.nav-item a:hover {
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
}

.green-color {
  color: #18cfab;
}

.section-1 {
  max-width: 1920px;
  height: 1012px;
  background: url("../img/section-1.jpg");
  /* */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 35px;
}

.h1 {
  font-size: 78px;
  margin-top: 22px;
}

.h3 {
  font-weight: 400;
  font-size: 34px;
  color: #d4d4d4;
  text-transform: none;
  margin-top: 22px;
}

.buttons-1-container {
  margin-top: 122px;
}

.section-1-buttons {
  border: none;
  border-radius: 5px;
  width: 168px;
  height: 63px;
  background: #18cfab;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: 0px -5px 0px 0px #ffffff;
}

.section-1-buttons:hover {
  cursor: pointer;
}

.button2 {
  background: #00cbf6;
}

.section-2 {
  max-width: 1920px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section-3 {
  width: 1920px;
  height: 560px;
  padding: 92px 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section-3-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #4e4e4e;
  position: relative;
}
.section-3-header::before {
  display: block;
  width: 100px;
  content: "";
  position: absolute;
  border-bottom: 1px solid #18cfab;
  top: 57px;
  left: 51px;
}
.section-3-header::after {
  display: block;
  width: 100px;
  content: "";
  position: absolute;
  border-bottom: 1px solid #18cfab;
  top: 63px;
  left: 83px;
}

.section-3-tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 17px;
}

.section-3-content {
  height: 240px;
  overflow: hidden;
}

.tabs-title {
  width: 100%;
  background-color: #f8fcfe;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*  */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 39px;
  color: #717171;
  border: 1px solid #edefef;
}
.tabs-title:hover {
  border: 1.5px solid #18cfab;
  cursor: pointer;
}

img[src*="wordpress1.jpg"] {
  width: 194px;
  height: 139px;
}
.section-3-content div {
  display: flex;
}

.section-3-tabs-text {
  margin-left: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}

.section-4 {
  max-width: 1920px;
  height: 476px;
  background: url("../img/Layer\ 21\ 1.png");
  /*  */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*  */
  font-family: "Montserrat";
  font-style: normal;
}

.section-4_text1 {
  color: #18cfab;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.section-4_text2 {
  margin-top: 13px;
  font-weight: 400;
  font-size: 16px;
  color: #d8d8d8;
}
.purchase-button {
  margin-top: 69px;
  border: none;
  border-radius: 5px;
  width: 168px;
  height: 63px;
  background: #18cfab;

  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: 0px -5px 0px 0px #ffffff;
}

.purchase-button:hover {
  cursor: pointer;
}

.section-5 {
  max-width: 1920px;
  /* height: 1300px; */
  background: #e9edef;
  /*  */
  padding: 98px 380px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.section-5-header {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #4e4e4e;
}
.section-5-header::before {
  display: block;
  width: 100px;
  content: "";
  position: absolute;
  border-bottom: 1px solid #18cfab;
  top: 57px;
  left: 116px;
}
.section-5-header::after {
  display: block;
  width: 100px;
  content: "";
  position: absolute;
  border-bottom: 1px solid #18cfab;
  top: 63px;
  left: 148px;
}

.section-5-tabs {
  width: 58%;
  display: grid;
  grid-template-columns: 1.5fr 2.5fr 2fr 2.5fr 2fr;
  margin-top: 90px;

  border: 1px solid #dadada;
}
.tabs-section-5 {
  background-color: #f8fcfe;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*  */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 39px;
  color: #717171;
  border: 1px solid #dadada;
}

.tabs-section-5:hover {
  border: 1px solid #18cfab;
  color: #18cfab;
  cursor: pointer;
}
.grid-section-5 {
  margin-top: 69px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.image-section-5 {
  width: 100%;
  height: 100%;
}

.section-5-button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin-top: 70px;
  border: none;
  border-radius: 5px;
  width: 168px;
  height: 63px;
  background: #18cfab;
  text-transform: uppercase;
  color: #ffffff;
}
.section-6 {
  height: 960px;
  padding: 85px 380px 130px 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-6-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #4e4e4e;
  position: relative;
}
.section-6-header::before {
  display: block;
  width: 100px;
  content: "";
  position: absolute;
  border-bottom: 1px solid #18cfab;
  top: 57px;
  left: 81px;
}
.section-6-header::after {
  display: block;
  width: 100px;
  content: "";
  position: absolute;
  border-bottom: 1px solid #18cfab;
  top: 63px;
  left: 113px;
}

.grid-6-section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 33px;
  row-gap: 44px;
  margin-top: 100px;
}

.grid-item-6-section {
  position: relative;
}
.grid-item-6-section:hover .feb-12 {
  background: #18cfab;
}

.grid-item-6-section:hover .item-text-6-section {
  color: #18cfab;
}
.grid-item-6-section p {
  padding-left: 15px;
}
.feb-12 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  position: absolute;
  width: 66px;
  height: 64px;
  background: #203e38;
  color: #fff;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-text-6-section {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 39px;
  color: #717171;
}

.item-comment-6-section {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 39px;
  color: #777777;
}
